<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="button" id="loginSubmitBtn">Authenticate</button>
    <div id="loginResult"></div>
</form>